{
  "folders": [
	{
	  "path": "lib.test",
	  "group": "com.vordel",
	  "artifactPattern": "^(?:\\Q${group}.\\E)?(.+?)(-\\d.*)?\\Q.jar\\E$",
	  "version": "7.5.3-8"
	}
	//	{
	//	  "path": "lib.a",
	//	  "group": "com.vordel",
	//	  "artifactPattern": "^(?:\\Qcom.vordel.\\E)?(.+?)(-\\d.*)?\\Q.jar\\E$",
	//	  "version": "7.5.3-8"
	//	},
	//	{
	//	  "path": "lib.a/plugins",
	//	  "group": "com.vordel.plugins",
	//	  "artifactPattern": "^(?:\\Qcom.vordel.\\E)?(.+?)(-\\d.*)?\\Q.jar\\E$",
	//	  "version": "7.5.3-8"
	//	}
  ]
}